.alignLeft
{
    float: left;
}

.alignRight
{
    float: right;
}

.interactionText
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.characterGridCell
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.characterGridCellSelected
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
    border-style: solid;
    border-width: thick;
}

.characterGridCellAlreadyPicked
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightpink;
    border-style: solid;
    border-width: thick;
}

.characterGridCellPicked
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightyellow;
    border-style: solid;
    border-width: thick;
}

.characterImg
{
    width: 64px;
}

.playerName
{
    font-weight: bold;
    padding-right: 7px;
}

.statusImg
{
    width: 32px;
}

.gemImg
{
    width: 32px;
}

.gemPadding
{
    width: 16px;
}

.cardImg
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 90%;
    pointer-events: none;

    max-width: 500px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 33vw;
}

.gridImg {
  width: 100%;
  height: 100%;
}

.icon
{
    width: 25px;
    height: 25px;
}

.hspacer
{
    padding-left: 3px;
    padding-right: 3px;
}

.cardText
{
    padding: 5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interactionDots
{
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remainingText
{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.cardPlayButtonDiv
{
    text-align: center;
}

.cardName
{
    font-weight: bold;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
}

.cardNameGUARD     { color: #b4872f; }
.cardNamePRIEST    { color: #ab342e; }
.cardNameBARON     { color: #a4538b; }
.cardNameHANDMAID  { color: #75a7ce; }
.cardNamePRINCE    { color: #cfc874; }
.cardNameKING      { color: #96b57f; }
.cardNameCOUNTESS  { color: #8390aa; }
.cardNamePRINCESS  { color: #b9af9a; }
