.cardImg
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 90%;
    pointer-events: none;
}

.playerInfoGrid
{
    display: grid;
}

.gridRows2
{
    grid-template-rows: 25px 25px;
}

.gridRows3
{
    grid-template-rows: 25px 25px 25px;
}

.row1 { grid-row: 1/span 1; }
.row2 { grid-row: 2/span 1; }
.row3 { grid-row: 3/span 1; }

.icon
{
    width: 25px;
    height: 25px;
}

.cardBorderGUARD     { border-color: #b4872f; }
.cardBorderPRIEST    { border-color: #ab342e; }
.cardBorderBARON     { border-color: #a4538b; }
.cardBorderHANDMAID  { border-color: #75a7ce; }
.cardBorderPRINCE    { border-color: #cfc874; }
.cardBorderKING      { border-color: #96b57f; }
.cardBorderCOUNTESS  { border-color: #8390aa; }
.cardBorderPRINCESS  { border-color: #b9af9a; }

.cardNameGUARD     { color: #b4872f; }
.cardNamePRIEST    { color: #ab342e; }
.cardNameBARON     { color: #a4538b; }
.cardNameHANDMAID  { color: #75a7ce; }
.cardNamePRINCE    { color: #cfc874; }
.cardNameKING      { color: #96b57f; }
.cardNameCOUNTESS  { color: #8390aa; }
.cardNamePRINCESS  { color: #b9af9a; }
