/* Without setting height the slides will take up the height of the slide's content */
ion-slides {
    height: 100%;
}

ion-card {
    width: 98%;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
}

.alignLeft
{
    float: left;
}

.alignRight
{
    float: right;
}

.verticalAlignMiddle
{
    vertical-align: middle;
}

.playerTopLine
{
    width: 100%;
    height: 64px;
}

.playerTopLineLeft
{
    float: left;
}

.playerTopLineRight
{
    float: right;
}

.fullBox
{
    width: 100%;
    height: max-content;
}

.myCard
{
    width: 97%;
    border-style: solid;
    border-width: 1px;
    border-color: #d4d4d4;
    border-radius: 4px;
    box-shadow: 2px 2px #c9c9c9;
    margin-left: 1.5%;
    margin-top: 1%;
    padding: 4px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.interactionText
{   
    text-align: center;
}

.characterGridCell
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.characterGridCellSelected
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
    border-style: solid;
    border-width: thick;
}

.characterGridCellAlreadyPicked
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightpink;
    border-style: solid;
    border-width: thick;
}

.characterGridCellPicked
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightyellow;
    border-style: solid;
    border-width: thick;
}

.roomCodeSpan
{
    font-weight: bold;
    padding-right: 7px;
}

.characterImg
{
    width: 64px;
    vertical-align: middle;
}

.playerName
{
    font-weight: bold;
    padding-right: 7px;
}

.statusImg
{
    width: 32px;
    vertical-align: middle;
}

.gemImg
{
    width: 32px;
    vertical-align: middle;
}

.gemPadding
{
    width: 16px;
}

.cardImg
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90% !important;
    pointer-events: none;

    max-width: 500px !important;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 33vw;
}

.gridImg {
  width: 100%;
  height: 100%;
}

.icon
{
    width: 25px;
    height: 25px;
}

.hspacer
{
    padding-left: 3px;
    padding-right: 3px;
}

.cardText
{
    padding: 5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interactionDots
{
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardsLeft
{
    font-weight: bold;
    padding-right: 7px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remainingText
{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.cardPlayButtonDiv
{
    text-align: center;
}

.cardName
{
    font-weight: bold;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
}

.cardNameGUARD     { color: #b4872f; }
.cardNamePRIEST    { color: #ab342e; }
.cardNameBARON     { color: #a4538b; }
.cardNameHANDMAID  { color: #75a7ce; }
.cardNamePRINCE    { color: #cfc874; }
.cardNameKING      { color: #96b57f; }
.cardNameCOUNTESS  { color: #8390aa; }
.cardNamePRINCESS  { color: #b9af9a; }

.swipeHack
{
    padding-bottom: 300px;
}
